<header>
<%= image_tag "logoheader.png", size: "600x150", class: 'image' %>

</header>


<div class="exer_container">

	<div class="exercise_col1"> 
			<h1 class="main3"><%= @exercise.name %> </h1>
			<p class="direction1">Do as many of each exercise that you can for 2 minutes.</p>
			<p class='method'> <%= @exercise.method %> </p>
			<div id="workout_timer">
				Do as many as you can for :0<span>6</span> 
			</div>

			<div class="rest_timer"> 
			</div>
	</div>

	<div class="exercise_col2"> 
		<%= image_tag @exercise.image_url, size: "700x900", class: 'image' %>
		</div>

</div> <!-- exercontainer -->


<script>


var sec = 4
var timer = setInterval(function() { 
   $('#workout_timer span').text(sec--);
   if (sec == -1) {
      $('#hideMsg').fadeOut('fast');
      clearInterval(timer);
   } 
}, 1000);

	document.addEventListener('DOMContentLoaded', function(){
		<% if (@next != nil && @exercise.workout_id == @next.workout_id) %>
			console.log('<%= @next %>')
			popupLogSheet(6000, moveToNextExercise, <%=[@next.id]%>)
		<% else %>
			popupLogSheet(0, function(){
				window.open('/workouts/')
			});
		<% end %>
})



</script>