<header>
<%= image_tag "logoheader.png", size: "600x150", class: 'image' %>

</header>


<div class="exer_container">

	<div class="exercises_method"> 
			<h1 class="main2"><%= @exercise.name %> </h1>
			<p>Do as many of each exercise that you can for 2 minutes.</p>
			<p class='method'> <%= @exercise.method %> </p>
			<div class="exercise_timer"> 
			</div>
			<div class="rest_timer"> 
			</div>
	</div>

	<div class="exercise_image"> 
		<%= image_tag @exercise.image_url, size: "500x600", class: 'image' %>
		</div>

</div> <!-- exercontainer -->


<script>
	document.addEventListener('DOMContentLoaded', function(){
		<% if (@next != nil && @exercise.workout_id == @next.workout_id) %>
			console.log('<%= @next %>')
			popupLogSheet(1000, moveToNextExercise, <%=[@next.id]%>)
		<% else %>
			popupLogSheet(0, function(){
				window.open('/workouts/')
			});
		<% end %>
})
</script>